*                       @nsylke
/LICENSE                @tjrgg
/README.md              @nsylke @tjrgg
/.github                @tjrgg
/.github/SECURITY.md    @nsylke @tjrgg
/src                    @typicalbot/bot
